a.nav-link:focus{
    color: #FF4567!important;
}
a.nav-link{
 /* Réserver une expérience */
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #F4F4F4 /*Mettre !important*/;
margin-right: 1em;
}

a.nav-link.active{
    color:#FF4567!important;
}
a.nav-link:hover{
    color:#FF4567!important;
}

.card-text{
  display: flex;
  justify-content: space-around;
}

.card-1{
  height: auto;
  width: 350px;
  height: auto;
  border-radius: 1em!important;
  box-shadow: 0px 3px 4px #cecece;
  margin: 1em;
}

/* Les derniÈres publications */
.titre-2{
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */
align-items: center;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
/* Ecriture */
color: #353434;
}

/* Explorer le sommet du monde */
.titre-1{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
align-items: center;
letter-spacing: 2px;
text-transform: uppercase;
/* Ecriture 2 */
color: #F4F4F4;
}

.card-2{
  height: auto;
  width: 28em;
  border-radius: 1em!important;
  box-shadow: 0px 3px 4px #cecece;
}

.km{
  border: 1px solid #EDEBEB;
  box-shadow: 0px 3px 2px #d4d2d2;
  border-radius: 3em;
  display: flex;
  justify-content: space-evenly;
  background-color: #f9f9f9;
}

.cont{
  margin: 3em 1em;
}

#Bigkm{
  margin: 6px 0em 2em 0em;
  width: 8em;
}

.text{
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 6px;
  width: 10em;
}

.p-Card{
  padding: 6px 3px;
}

#search{
  padding:0px 1em;
  flex: 0 0 28%;
  margin-left:2em;
}

.text-2{
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 6px;
}


.logo{
  /* logo_SUNDR_long 1 */
width: 171px;
height: 49px;
left: 89px;
top: 17px;
background: url(image/logo.png);
margin: 0 3em;
}

.logoResp{
  /* cameleon_favicon 1 */
position: absolute;
width: 47px;
height: 48px;
left: 164px;
top: 40px;
background: url(image/logoResp.png);
}

#coms{
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 6px;
}

#rounded-img{
  width: 674px;
  border-radius: 1em;
}

.text-bolt{
  font-weight: bold;
}

@media (min-width: 991px) {
    .navbar{
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      display:grid!important;
      
      justify-content: right!important;
    }
}


/*Version Mobile*/
@media (max-width: 991px) {
    .navbar{
        position: fixed!important;
        bottom:0px;
        background: linear-gradient(180.98deg, #FF9B77 3.56%, #F5AB65 33.87%, #ECB955 80.09%, #DDD03C 102.18%);;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: space-around!important;
        z-index:1;
        padding: 0px!important;
    }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  path:hover {
    fill: #FF4567;
  }
 
  /* Add a color to the active/current link */
  .navbar a.active {
    color: #FF4567;
  }
}



