a.nav-link:focus{
    color: #FF4567!important;
}
a.nav-link{
 /* Réserver une expérience */
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #F4F4F4 /*Mettre !important*/;
margin-right: 1em;
}

a.nav-link.active{
    color:#FF4567!important;
}
a.nav-link:hover{
    color:#FF4567!important;
}

.card-text{
  display: flex;
  justify-content: space-around;
}

/* Explorer le sommet du monde */
.titre-1{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* or 167% */
align-items: center;
letter-spacing: 2px;
text-transform: uppercase;
/* Ecriture 2 */
color: #F4F4F4;
}

/* Les derniÈres publications */
.titre-2{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Ecriture */
  color: #353434;
  }

.card-1{
  height: auto;
  width: 350px;
  height: auto;
  border-radius: 1em!important;
  box-shadow: 0px 3px 4px #cecece;
  margin: 1em;
}
  
.card-2{
  height: auto;
  width: 28em;
  border-radius: 1em!important;
  box-shadow: 0px 3px 4px #cecece;
}

#s-box{
  border-radius: 10px;
  box-shadow: 0px 2px 0px #ccccccb0;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  padding: .375rem 20px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #F3F3F3;
}

/*Remove focus box*/
.no-focus:focus{
  border-color: transparent!important;
  outline: none;
  box-shadow: none;
}

.input-icon{
  display: flex;
  align-items: center;
  padding: .375rem 20px;
  text-align: center;
  white-space: nowrap;
  background-color: #F3F3F3;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 2px 0px #ccccccb0;
}

.btn-search{
/* rectange bouton */
border: 1px solid #FF4567;
/* Bouton liste map selectionné */
background: #FF4567;
border-radius: 10px;
display: inline-block;
font-weight: 400;
color: white;
text-align: center;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
}

.btn-search:hover{
  background:#db3b59;
}

.search-bar{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #F3F3F3;
  background-clip: padding-box;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  border-left: 1px solid #F3F3F3;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 2px 0px #ccccccb0;
}

.search-bar:focus{
  outline: none!important;
}

.input-group>.search-bar{
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.km{
  border: 1px solid #EDEBEB;
  box-shadow: 0px 3px 2px #d4d2d2;
  border-radius: 3em;
  display: flex;
  justify-content: space-evenly;
  background-color: #f9f9f9;
}

.cont{
  margin: 30px 30px 55px 30px;
}

.mb-30{
  margin-bottom: 30px!important;
}

#Bigkm{
  margin: 6px 0em 2em 0em;
  width: 8em;
}

.text{
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 6px;
  width: 10em;
}

.p-Card{
  padding: 6px 3px;
  background-color: white;
  border-radius: 0em 0em 1em 1em;
}

#search{
  padding:0px 1em;
  flex: 0 0 28%;
  margin-left:1em;
}

#btn-resp{
  width:100%;
  box-shadow: 0px 3px 2px #b3b3b3;
}

.text-2{
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 6px;
}


.logo{
  /* logo_SUNDR_long 1 */
width: 171px;
height: 49px;
left: 89px;
top: 17px;
background: url(image/logo.png);
margin: 0 3em;
}

.logoResp{
  /* cameleon_favicon 1 */
width: 47px;
height: 48px;
left: 164px;
background: url(image/logoResp.png);
background-repeat: no-repeat;
background-position: center;
width: 100%;
margin-top:40px;
}

#coms{
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 6px;
}

#rounded-img{
  width: 674px;
  border-radius: 1em;
}

.text-bolt{
  font-weight: bold;
}

@media (min-width: 991px) {
    .navbar{
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      display:grid!important;
      
      justify-content: right!important;
    }
}


/*Version Mobile*/
@media (max-width: 991px) {
    .navbar{
        position: fixed!important;
        bottom:0px;
        background: linear-gradient(180.98deg, #FF9B77 3.56%, #F5AB65 33.87%, #ECB955 80.09%, #DDD03C 102.18%);;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: space-around!important;
        z-index:1;
        padding: 0px!important;
    }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  path:hover {
    fill: #FF4567;
  }
 
  /* Add a color to the active/current link */
  .navbar a.active {
    color: #FF4567;
  }
  
/*==============================*/
/*=====Responsive ajouter=======*/
/*==============================*/
  #search{
    padding:0px 1em;
    max-width: -webkit-fill-available;
    flex:auto;
    margin-left: 0px;
  }
  .hide{
    display: none;
  }
  #btn-resp{
    width: 50%;
  }
  .form-control{
    margin-bottom: 30px;
  }
}



